<%- include('layout') %>

<section>
    <h2>Basic Information</h2>
    <ul>
        <li>Name: <%= body.name %></li>
        <li>Email: <%= body.preferred_username %></li>
        <li>Phone: <%= body.phone %></li>
        <li>Address: <%= body.address %></li>
        <li><a href="/auth/profile">Edit Profile</a></li>
    </ul>
</section>
